{% extends 'Menu/base.html' %}


{% block content %}
<main class="form-signin w-50 m-auto" style="background-color: #94f5a1 ">
  <form method="post">

      {% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>

{#    <a href="{% url 'user:reset-password' %}">#}
{#        Забыли пароль#}
{#    </a>#}
  </form>
</main>
            <div class="container w-50" >
                <a href="{% url "home" %}">

                    <div>
                        <label style="background-color: #b5dcef  ">
                        Вяртанне на папярэднюю старонку
                        <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>>

                        </label>
                    </div>
                </a>
            </div>
{% endblock %}