{% extends 'registration/base.html' %}


{% block content %}
<main class="form-signin w-50 m-auto" style="background-color: #1bab83 ">
  <form method="post">

      {% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Кал ласка, увядзіце логін/пароль</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput">
      <label for="floatingInput">Логін</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>

    <button class="btn btn-primary w-100 py-2" style="color: lightgoldenrodyellow; width: 18rem; background-color: #205067;" type="submit">Увайсці</button>

{#    <a href="{% url 'user:reset-password' %}">#}
{#        Забыли пароль#}
{#    </a>#}
  </form>
</main>
            <div class="container w-50" >
                <a href="{% url "home" %}">

                    <div>
                        <label style="color: black;">
                        Вяртанне на папярэднюю старонку
                        <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>

                        </label>
                    </div>
                </a>
            </div>
{% endblock %}