{% extends "Talks/base.html" %}
{%load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="container w-50" style="background-color: #94f5a1 ">
        <form method="post">

            {% csrf_token %}

            {{form | crispy}}
            <div>
                <label style="background-image: url('{% static 'Talks/img/card.jpg' %}')">
                    Падцвердзіце уведзены тэкст
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Адправіць</button>>
                </label>
            </div>
        </form>

        <a href="{% url 'talk_show' category.id talk.id %}">

            <div>
                <label style="background-image: url('{% static 'Talks/img/card.jpg' %}')">
                Вяртанне на папярэднюю старонку
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>>

                </label>
            </div>
        </a>
    </div>
{% endblock %}