{% extends "Talks/base.html" %}
{%load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container w-50" style="background-color: #1bab83 ">
        <form method="post">

            {% csrf_token %}

            {{form | crispy}}
            <div>
                <label style="color: black;">
                    Адпраўка гатовага тэксту
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Адправіць</button>
                </label>
            </div>
        </form>

        <a href="{% url 'talk_show' category.id talk.id %}">

            <div>
                <label style="color: black;">
                Вяртанне на папярэднюю старонку
                <button type="submit" class="btn btn-info" style="margin: 10px; box-shadow: 3px 3px #10420e">Вярнуцца</button>

                </label>
            </div>
        </a>
    </div>
{% endblock %}