{% extends "Talks/base.html" %}
{% load static %}

{% block content %}
        <div class="card" style=" color: lightgoldenrodyellow; width: 25%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; background-position: center;">
            <h3>Катэгорыя - {{ category.name }}</h3>
        </div>
        <br>
        <div class="card" style=" color: lightgoldenrodyellow; width: 50%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; background-position: center;">
                <h5>{{ talk.question }}</h5>
                <h6>{{ talk.created|date:"d.m.Y H:i" }}
                <br>
                {{ talk.user }}
                </h6>
            {% if talk.user == request.user or request.user.is_staff %}
                <a href="{% url "talk_edit" category.id talk.id %}">
                    <div>
                        <button type="submit" class="btn btn-info" style="color: lightgoldenrodyellow; background-color: #205067; float: right">Рэдагаваць</button>
                    </div>
                </a>
            {% endif %}
        </div>


  {% for message in list_message %}
    {% with counter=forloop.counter0|add:1 %}
            <li class="list-group-item w-50" style=" color: lightgoldenrodyellow; width: 50%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'Talks/img/card5.jpg' %}'); margin: 0px 100px; box-shadow: 8px 8px #247366; display: inline-block; background-position: center;">
                <h6>{{ counter }}.
                <br>
                    {{ message.user__username }}:
                <br>
                {{ message.description }}
                <br>
                    <div style="float: right">
                        {{ message.created|date:"d.m.Y H:i" }}
                    </div>
                </h6>
            </li>
    {% endwith %}
{% endfor %}


    {% if request.user.is_authenticated %}
        <a href="{% url 'message_create' category.id talk.id %}">
            <div>
                <label style="color: black; margin: 20px 0px">
                        Адказаць
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Перайсці</button>
                </label>
            </div>
        </a>
    {% endif %}
        <a href="{% url 'category_show_talks' category.id %}">

            <div >
                <label style="color: black;">
                Вяртанне на папярэднюю старонку
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>

                </label>
            </div>
        </a>


{% endblock %}