{% extends "Talks/base.html" %}
{%load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="container w-50" style="background-color: #1bab83 ">
        <form method="post">

            {% csrf_token %}

            {{form | crispy}}
            <div>
                <label style="color: black;">
                    Падцвердзіце уведзены тэкст
                <button type="submit" class="btn btn-info" style=" margin: 10px;box-shadow: 3px 3px #205067">Адправіць</button>
                </label>
            </div>
        </form>

        <a href="{% url 'category_show_talks' category.id %}">

            <div>
                <label style="color: black;">
                Вяртанне на папярэднюю старонку
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Вярнуцца</button>

                </label>
            </div>
        </a>
    </div>
{% endblock %}