{% extends "beer_BLR/base2.html" %}
{%load crispy_forms_tags %}

{% block content %}

    <div class="container w-50" style="background-color: #1bab83 ">
    <form method="post">

        {% csrf_token %}


        {{form | crispy}}
        <label style="color: black;">
            Падцвярдзіця змены
            <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Падцвердзіць</button>
        </label>
    </form>

        <a href="{% url 'all_experience' %}">

            <div>
                <label style="color: black;">
                Вяртанне на папярэднюю старонку
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>

                </label>
            </div>
        </a>
    </div>
{% endblock %}