{% extends "beer_BLR/base2.html" %}
{% load static %}

{% block content %}
    <div class="card" style=" color: lightgoldenrodyellow; width: 35%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; background-position: center;">
        <h3>{{ experience.name }}</h3>
    </div>
    <br>
         <div class="card" style=" color: lightgoldenrodyellow; width: 45%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; ">
                    <h5> Аўтар - {{ experience.user }}</h5>
         </div>
            <div style="overflow: auto;">
                 <div class="card" style=" color: lightgoldenrodyellow; float: left; width: 45%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366;">
                        Змест:
                        <br><h5>{{ experience.description }}</h5>

                 </div>
            <br>
                    {% if experience.photo  %}
                        <div class="card" style=" width: 45%; float: right; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 10px 10px; box-shadow: 8px 8px #247366;">
                        <img src="{{ experience.photo.url }}" alt="photo" >
                        </div>
                    {% endif %}

                <div class="card" style=" color: lightgoldenrodyellow; float: left; width: 35%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; background-position: center;">
                        <h8>
                            Тэгі - {% for tag in experience.tags.all %} {{ tag.name }}, {% endfor %}
                        </h8>
                </div>
            </div>



    <div class="container w-50" >
        {% if experience.user == request.user or request.user.is_staff %}
        <a href="{% url "experience_edit" experience.id %}">
            <div>
                <label style="color: black;">
                Рэдагаванне інфармацыі
                <button type="submit" class="btn btn-info" style="margin: 5px 5px; box-shadow: 3px 3px #10420e">Рэдагаваць</button>
                </label>
            </div>
        </a>
        {% endif %}
        <a href="{% url 'all_experience' %}">
            <label style="color: black;">
            Вяртанне на папярэднюю старонку
            <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>

            </label>
        </a>
    </div>
{% endblock %}


