{% extends "beer_BLR/base.html" %}

{% block content %}
    <span class="border border-warning border-4 fs-2 fw-bold" style="background-color: #e3af2b">
        {{ news_.name }}
    </span>

        <div class="list-group" style=" background-color: #72ea82">
            <h5>Апісанне:</h5>
          <h6>
        {{ news_.description }}
        {{ news_.created }}
          </h6>
        </div>
        <div class="container w-25"style=" background-color: #72ea82">
        <h8> Тэгі - {{ news.tags__name }}</h8>
        </div>
            <div class="container w-50" >
                <a href="{% url 'all_news' %}">

                    <div>
                        <label style="background-color: #ffffff ">
                        Вяртанне на папярэднюю старонку
                        <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>>

                        </label>
                    </div>
                </a>
            </div>
{% endblock %}