{% extends "beer_BLR/base.html" %}
{% load static %}

{% block content %}
    <div class="card" style=" width: 35%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; ">
        <h2>{{ technology.name }}</h2>
    </div>
    <br>
        <div class="card" style=" color: lightgoldenrodyellow; width: 50%; background-color: #f1b546; background-size: cover; background-image: url('{% static 'blog/img/card5.jpg' %}'); margin: 20px 20px; box-shadow: 8px 8px #247366; display: inline-block; ">
            <h5>{{ technology.description }}</h5>
        </div>
                <a href="{% url 'all_technologies' %}">

                    <div>
                        <label style="color: black;">
                        Вяртанне на папярэднюю старонку
                        <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Вярнуцца</button>

                        </label>
                    </div>
                </a>
{% endblock %}